{#
    Colorful Minimalist
    a basic Flask developer theme designed by iiPython
#}

{# Initialization #}
{% set theme = request.cookies.get("theme", "light") %}

{# Begin Template #}
<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta content = "iiPython" property = "og:title">
        <meta content = "Software developer and tech enthusiast." property = "og:description">  
        <meta content = "iipython.cf" property = "og:site_name">
        <meta content = "https://iipython.cf/~/images/pfp.png" property = "og:image">
        <meta content = "#ffffff" data-react-helmet = "true" name = "theme-color">

        <!-- CSS -->
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel = "stylesheet">
        <link href = "/~/css/base.css" rel = "stylesheet">
        {% if theme == "light" %}
            <style>
                body { background-image: url("/~/images/light-mode.jpg"); }
            </style>
        {% else %}
            <style>
                body { background-image: url("/~/images/dark-mode.png"); }
                *:not(i) { color: #fefefe; }
                a:hover { color: #b5b1b1; }
            </style>
        {% endif %}

        <link rel = "icon" type = "image/png" href = "/~/images/pfp.png">
        <title>{{ app._config["name"] }}</title>
    </head>
    <body>
        <div class = "pad"></div>
        {% block content %}{% endblock %}
    </body>
</html>