{% extends "base.html" %}
{% block content %}

    <!-- Intro -->
    <img src = "/~/img/pfp.png"> <h1 style = "display: inline;">iiPython</h1>
    <h4>Software developer and tech enthusiast.</h4>

    <!-- Buttons -->
    <div class = "pad2"></div>
    <a class = "btn btn-outline-primary" href = "mailto:ben@iipython.cf"><i class = "bi bi-envelope"></i> Send an Email</a>
    <a class = "btn btn-outline-secondary" href = "https://github.com/ii-Python"><i class = "bi bi-github"></i> Github Profile</a>
    <a class = "btn btn-outline-success" href = "/sites"><i class = "bi bi-hdd-stack"></i> Service List</a>
{% endblock %}