{% extends "base.html" %}
{% block content %}

    <!-- Intro -->
    <img src = "/~/img/pfp.png"> <h1 style = "display: inline;">{{ app._config["name"] }}</h1>
    <h4>{{ app._config["tagline"] }}</h4>

    <!-- Buttons -->
    <div class = "pad2"></div>
    <a class = "btn btn-outline-primary" href = "mailto:{{ app._config['email'] }}"><i class = "bi bi-envelope"></i> Send an Email</a>
    <a class = "btn btn-outline-secondary" href = "https://github.com/{{ app._config['github'] }}"><i class = "bi bi-github"></i> Github Profile</a>
    <a class = "btn btn-outline-success" href = "/services"><i class = "bi bi-hdd-stack"></i> Service List</a>
{% endblock %}