{% extends "base.html" %}
{% block content %}
    <h1>iiPython Service List</h1>
    <div class = "pad2"></div>
    <table class = "table">
        <thead>
            <tr>
                <th scope = "col">Name</th>
                <th scope = "col">URL</th>
                <th scope = "col">Github Repo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope = "row">Root</th>
                <td><a href = "https://iipython.cf" target = "_blank">iipython.cf</a></td>
                <td><a href = "https://github.com/ii-Python/website">ii-Python/website</a></td>
            </tr>
            <tr>
                <th scope = "row">Auth Service</th>
                <td><a href = "https://auth.iipython.cf" target = "_blank">auth.iipython.cf</a></td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope = "row">Weather Archiver</th>
                <td><a href = "https://weather.iipython.cf" target = "_blank">weather.iipython.cf</a></td>
                <td><a href = "https://github.com/ii-Python/weather">ii-Python/weather</a></td>
            </tr>
            <tr>
                <th scope = "row">RSL Warehouse</th>
                <td><a href = "https://data.robloxstatus.live" target = "_blank">data.robloxstatus.live</a></td>
                <td><a href = "https://github.com/RobloxStatusLive/warehouse">RobloxStatusLive/warehouse</a></td>
            </tr>
            <tr>
                <th scope = "row">RSL Nebula</th>
                <td><a href = "https://robloxstatus.live" target = "_blank">robloxstatus.live</a></td>
                <td><a href = "https://github.com/RobloxStatusLive/nebula">RobloxStatusLive/nebula</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}