{% extends "base.html" %}
{% block content %}
    <h1>iiPython Service List</h1>
    <div class = "pad2"></div>
    <table class = "table">
        <thead>
            <tr>
                <th scope = "col">Name</th>
                <th scope = "col">URL</th>
                <th scope = "col">Github Repo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope = "row">Root</th>
                <td><a href = "https://iipython.cf" target = "_blank">iipython.cf</a></td>
                <td><a href = "https://github.com/ii-Python/website">ii-Python/website</a></td>
            </tr>
            <tr>
                <th scope = "row">Chatting Service</th>
                <td><a href = "https://chat.iipython.cf" target = "_blank">chat.iipython.cf</a></td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope = "row">Roblox Image Loader</th>
                <td><a href = "https://robloximg.iipython.cf" target = "_blank">robloximg.iipython.cf</a></td>
                <td><a href = "https://github.com/ii-Python/imgloader">ii-Python/imgloader</a></td>
            </tr>
            <tr>
                <th scope = "row">x2 Website</th>
                <td><a href = "https://x2.iipython.cf" target = "_blank">x2.iipython.cf</a></td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope = "row">Weather Archiver</th>
                <td><a href = "https://weather.iipython.cf" target = "_blank">weather.iipython.cf</a></td>
                <td><a href = "https://github.com/ii-Python/weather">ii-Python/weather</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}